{% extends "base.html" %} {% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row col-md-10" style="position:absolute;padding-top:20px;">
        <div class="col-md-3">&nbsp;</div>
        <div class="card col-md-6" style="margin:auto;">
            <h2>Visit New York</h2>

            <div class="due_date">
                <p>By 36th birthday</p>
            </div>
            <ul>
                <li>
                    <div class="col-xs-12">
                        Climb Empire State building
                    </div>
                </li>
                <li>
                    <div class="col-xs-12">
                        Visit Statue of Liberty
                    </div>
                </li>
                <li>
                    <div class="col-xs-12">
                        Visit Stark tower
                    </div>
                </li>
                <li>
                    <div class="col-xs-12">
                        Go to Queens
                    </div>
                </li>

                <li style="list-style:none;margin-top:3px;">
                    <div class="col-xs-12">
                        <button type="button">Add item</button>
                    </div>
                </li>
            </ul>
            <button type="button" style="bottom:10px;float:right;margin:20px;">Save</button>
        </div>

    </div>

</div>

{% endblock %}