{% extends "base.html" %} {% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row col-md-10" style="position:absolute;padding-top:20px;">
        <div class="col-md-3">&nbsp;</div>
        {% if request_type == 'new' %}
        <div class="card item-card col-md-6" style="margin:auto;">
            <form action="/add_bucketlist" method="post">
                <h2><input class="item-edit" type="text" placeholder="Bucketlist name" name="bucketlist_name" required /></h2>

                <div class="due_date">
                    <input class="item-edit" type="text" placeholder="Due date (dd/mm/yyyy)" name="due_date" required />
                </div>

                <input type="hidden" name="request_type" value="new" />

                <input class="btn btn-success" name="add_bucketlist" type="submit" style="bottom:10px;float:right;margin-top:30px;" value="Save" />
            </form>
        </div>
        {% endif %} {% if request_type == 'edit' %}
        <div class="card item-card col-md-6" style="margin:auto;">
            <form action="/add_bucketlist" method="post">
                <h2><input class="item-edit" type="text" placeholder="Bucketlist name" name="bucketlist_name" value="{{ bucketlist.name }}" required /></h2>

                <div class="due_date">
                    <input class="item-edit" type="text" placeholder="Due date (dd/mm/yyyy)" name="due_date" value="{{ bucketlist.due_date }}" required />
                </div>
                <ul id="bucket-items-list">
                    {% for item in bucketlist.items %}
                    <li>
                        <div class="col-xs-12">
                            <input class="add-item-edit" type="text" placeholder="Add bucketlist item" name="items[]" value="{{ item.item_name }}">
                        </div>
                    </li>
                    {% endfor %}
                    <input type="hidden" name="request_type" value="edit" />
                    <input type="hidden" name="old_name" value="{{ bucketlist.name }}" />
                </ul>
                <input class="btn btn-success" name="add_bucketlist" type="submit" style="bottom:10px;float:right;margin-top:30px;" value="Save" />
            </form>
        </div>
        {% endif %} {% if request_type == 'view' %}
        <div class="card col-md-6" style="margin:auto;">
            <h2>{{ bucketlist_name }}</h2>

            <div class="due_date">
                <p>By {{ due_date }}</p>
            </div>
            <ul>
                {% if bucketlist_items|length > 0 %} {% for item in bucketlist_items %}
                <li>
                    <div class="col-xs-12">
                        {{ item.item_name }}
                    </div>
                </li>
                {% endfor %} {% endif %}
            </ul>
            <div style="bottom:0px;margin-top:40px;">
                <div style="float:left;margin:0 5px 0 0;">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-item" type="button">Add item</button>
                </div>

                <div style="float:right;margin:0 5px 0 0;">
                    <ul style="list-style:none;">
                        <li style="float:left;">
                            <form method="get" action="/edit_bucketlist?bucketlist_name={{ bucketlist_name }}">
                                <input type="hidden" value="{{ bucketlist_name }}" name="bucketlist_name" />
                                <input class="btn btn-default" type="submit" value="Edit">&nbsp;
                            </form>
                        </li>
                        <li style="float:left;">
                            <form method="get" action="/delete_bucketlist?bucketlist_name={{ bucketlist_name }}">
                                <input type="hidden" value="{{ bucketlist_name }}" name="bucketlist_name" />
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

</div>

<!-- Modal -->
<div class="modal" id="modal-add-item" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div style="padding:0 16px;">
                    <h3 class="block-title">Add item</h3>
                </div>
                <div class="block-content" style="margin-top:10px;">
                    <div class="form-group">
                        <div class="col-md-12">
                            <form method="post" action="/add-item">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="item_name" name="item_name" placeholder="Enter bucketlist item" required>
                                    <span class="input-group-btn">
                                                        <input class="btn btn-primary" type="submit" value="Add item" name="add_item"/>
                                                        <input type="hidden" value="{{ bucketlist_name }}" name="bucketlist_name"/>
                                       
                            </div>             </span>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:50px;">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->


    {% endblock %}