{% extends "base.html" %} {% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row col-md-10" style="position:absolute;padding-top:20px;">
        <div class="col-md-3">&nbsp;</div>
        {% if request_type == 'new' %}
        <div class="card item-card col-md-6" style="margin:auto;">
            <form action="/add_bucketlist" method="post">
                <h2><input class="item-edit" type="text" placeholder="Bucketlist name" name="bucketlist_name" required /></h2>

                <div class="due_date">
                    <input class="item-edit" type="text" placeholder="Due date (dd/mm/yyyy)" name="due_date" required />
                </div>
                <ul id="bucket-items-list">
                    <li>
                        <div class="col-xs-12">
                            <input class="add-item-edit" type="text" placeholder="Add bucketlist item" name="items">
                        </div>
                    </li>

                    <input type="hidden" name="request_type" value="new" />

                    <li style="list-style:none;margin-top:10px;">
                        <div class="col-xs-12">
                            <input type="button" class="btn btn-primary" value="Add item">
                        </div>
                    </li>
                </ul>
                <input class="btn btn-success" name="add_bucketlist" type="submit" style="bottom:10px;float:right;margin-top:30px;" value="Save" />
            </form>
        </div>
        {% endif %} {% if request_type == 'view' %}
        <div class="card col-md-6" style="margin:auto;">
            <h2>{{ bucketlist_name }}</h2>

            <div class="due_date">
                <p>By {{ due_date }}</p>
            </div>
            <ul>
                {% for item in bucketlist_items %}
                <li>
                    <div class="col-xs-12">
                        {{ item.item_name }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div style="bottom:5px;float:right;margin:20px 5px 0 0;">
                <form method="get">
                    <input class="btn btn-default" type="submit" value="Edit">&nbsp;
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
        {% endif %}

    </div>

</div>

{% endblock %}