{% extends "base.html" %} {% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row" style="position:absolute;padding-top:20px;">
        <div class="col-md-12" style="margin-left:10px;">
            <form method="post" action="/item?type=new">
                <input class="btn btn-primary" type="submit" value="Add an item" name="add_item" />
            </form>
        </div>
        <div class="cards col-md-12" style="margin:20 auto 0 auto;">

            {% if has_bucketlists %} {% for item in user.bucketlists %}
            <a href="#" style="text-decoration:none;color:inherit;">
                <div class="card card-index col-md-3 left">
                    <h3>{{ item.name }}</h3>
                    {% for activity in item.items %}
                    <div class="col-xs-12">
                        <label class="css-input switch switch-default">
                                                <input type="checkbox" {{checked if activity.done}}><span></span> {{ activity.item_name }}
                                            </label>
                    </div>
                    {% endfor %}

                    <div class="due_date">
                        By 36th birthday
                    </div>
                </div>
            </a>
            {% endfor %} {% else %}
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6" style="margin-top:80px;">
                <p style="font-size:25px;color:grey;text-align:center">You do not have any bucket lists yet. Click 'Add an item' to create one</p>
            </div>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}